<div class="container-fluid">
  <h1>Tanárok</h1>
  
  {{obj|json}} 
  <!-- <div class="row" *ngFor="let tancsi of obj">
    {{tancsi.name}}
    {{tancsi['name']}}
  </div>  -->

<div class="row">
  <div 
  *ngFor="let oszlop of oszlopok" 
  class="col">
    {{oszlop.texthu}}
  </div>
  <div class="col">
    Műveletek
  </div>
</div>
{{ujTancsi|json}}
<div class="row my-2">
  <div *ngFor="let oszlop of oszlopok"  class="col">   
      <input [(ngModel)]="ujTancsi[oszlop.key]" [type]="oszlop.type" class="form-control">
   </div>

  <div class="col">
      <button (click)="uj()" type="button" class="btn btn-danger">Felvétel</button>
  </div>
</div>

<div *ngFor="let tancsi of obj; let i = index" class="row my-2">
  <div *ngFor="let oszlop of oszlopok"  class="col">
    
    <ng-container *ngIf="oszlop.type!='plain'; else plain">
      <input [(ngModel)]="tancsi[oszlop.key]" [type]="oszlop.type" class="form-control">
    </ng-container>
    
    <ng-template #plain>
      {{tancsi[oszlop.key]}}
    </ng-template>
  
  </div>

  <div class="col">
    <button  type="button" class="btn btn-warning">Ment</button>
    <button (click)="torol(tancsi,i)" type="button" class="btn btn-danger">Töröl</button>

  </div>
</div>


</div>
